<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style type="text/css">

body{
    font-family: Arial, sans-serif; 
    background-color: #f0f0f0; /* Light gray background color */
    margin: 0;
    padding: 0;
    height: 100vh;

}
   .heading {
    color: blue;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.result{
   width: 300px;
   margin: 0 auto;
   padding: 20px;
   border: 1px solid #ccc;
   border-radius: 5px;
   background-color:green;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

</style>
</head>
<body>
  <h1 class=heading>Submission Result</h1>
  <div class=result>
  <p>Name:  <span th:text="${user.name}"></span></p>
  <p>Email:<span th:text="${user.email}"></span></p>
  </div>
</body>
</html>